html,
body {
margin: 0;
padding: 0;
}

button {
margin: 0;
padding: 0;
border: 0;
background: none;
font-size: 100%;
vertical-align: baseline;
font-family: inherit;
color: inherit;
-webkit-appearance: none;
/*-moz-appearance: none;*/
-ms-appearance: none;
-o-appearance: none;
appearance: none;
}



a {
	color: #1ABC9C;
}

#todoapp, #yesterday, .team {
background: #fff;
background: rgba(255, 255, 255, 0.9);
margin: 100px 0 40px 0;
border: 1px solid #ccc;
position: relative;
border-top-left-radius: 2px;
border-top-right-radius: 2px;
box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2),
0 25px 50px 0 rgba(0, 0, 0, 0.15);
}



#todoapp input::-webkit-input-placeholder, #yesterday input::-webkit-input-placeholder {
font-style: italic;
}

#todoapp input:-moz-placeholder, #yesterday input:-moz-placeholder {
font-style: italic;
color: #a9a9a9;
}

#new-todo,
.edit, .backlog-input {
	position: relative;
	margin: 0;
	width: 100%;
	// font-size: 24px;
	font-size: 18px;
	font-family: inherit;
	line-height: 1.4em;
	border: 0;
	outline: none;
	// color: inherit;
	padding: 6px;
	border: 0px solid #ADADAD;
	border-bottom: 1px solid #ADADAD;

	/*box-shadow: inset 0 -1px 1px 0 rgba(0, 0, 0, 0.9);*/
	background: #FFF;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}



#main, #main-yesterday, .main-team {
position: relative;
z-index: 2;
border-top: 1px dotted #adadad;
}

label[for='toggle-all'] {
display: none;
}

#toggle-all {
position: absolute;
top: -42px;
left: -4px;
width: 40px;
text-align: center;
border: none; /* Mobile Safari */
}

#toggle-all:before {
content: '»';
font-size: 28px;
color: #d9d9d9;
padding: 0 25px 7px;
}

#toggle-all:checked:before {
color: #737373;
}

#todo-list, #todo-list-yesterday, .todo-list-team {
margin: 0;
padding: 0;
list-style: none;
}

#todo-list li, #todo-list-yesterday li, .todo-list-team li {
position: relative;
font-size: 24px;
border-bottom: 1px dotted #ccc;
}

#todo-list li:last-child, #todo-list-yesterday li:last-child, .todo-list-team li:last-child {
border-bottom: none;
}

#todo-list li.editing, 
#todo-list-yesterday li.editing,
#backlog li.editing {
border-bottom: none;
padding: 0;
}

#todo-list li.editing .edit, 
#todo-list-yesterday li.editing .edit{
display: block;
width: 464px;
padding: 13px 17px 12px 17px;
margin: 0 0 0 43px;
}

#backlog li.editing .edit {
	padding: 13px 17px 12px 17px;
	display: block;
	width: 495px;
}

#todo-list li.editing .view, 
#todo-list-yesterday li.editing .view,
#backlog li.editing .view {
display: none;
}

#todo-list li .toggle, 
#todo-list-yesterday li .toggle-prev {
text-align: center;
width: 40px;
/* auto, since non-WebKit browsers doesn't support input styling */
height: auto;
position: absolute;
top: 0;
bottom: 0;
margin: auto 0;
border: none; /* Mobile Safari */
-webkit-appearance: none;
/*-moz-appearance: none;*/
-ms-appearance: none;
-o-appearance: none;
appearance: none;
}

#todo-list li .toggle:after, #todo-list-yesterday li .toggle-prev:after {
content: '✔';
line-height: 43px; /* 40 + a couple of pixels visual adjustment */
font-size: 20px;
color: #d9d9d9;
text-shadow: 0 -1px 0 #bfbfbf;
}

#todo-list li .toggle:checked:after, #todo-list-yesterday li .toggle-prev:checked:after {
color: #85ada7;
text-shadow: 0 1px 0 #669991;
bottom: 1px;
position: relative;
}

#todo-list li.completed label, 
#todo-list-yesterday li.completed label, 
.todo-list-team li.completed label {
color: #a9a9a9;
text-decoration: line-through;
}

li.completed {
	background: #F5F5F5;
}

#todo-list li .destroy, 
#todo-list-yesterday li .copy, 
#todo-list-yesterday li .archive, 
#backlog-itemlist li .copy, 
#backlog-itemlist li .destroy {
display: none;
position: absolute;
top: 0;
right: -9px;
bottom: 0;
width: 40px;
height: 40px;
margin: auto 0;
font-size: 20px;
color: #a88a8a;
-webkit-transition: all 0.2s;
-moz-transition: all 0.2s;
-ms-transition: all 0.2s;
-o-transition: all 0.2s;
transition: all 0.2s;
}

#todo-list li .destroy:hover, 
#todo-list-yesterday li .copy:hover, 
#todo-list-yesterday li .archive:hover, 
#backlog-itemlist li .copy:hover, 
#backlog-itemlist li .destroy:hover {
text-shadow: 0 0 1px #000,
0 0 10px rgba(199, 107, 107, 0.8);
/*-webkit-transform: scale(1.3);
-moz-transform: scale(1.3);
-ms-transform: scale(1.3);
-o-transform: scale(1.3);
transform: scale(1.3);*/
}

#todo-list li .destroy:after, 
#backlog-itemlist li .destroy:after {
content: '✖';
}

#todo-list-yesterday li .copy, 
#todo-list-yesterday li .archive, 
#backlog-itemlist li .copy {
	background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    display: none;
    height: auto;
    line-height: normal;
    margin-top: 0;
    vertical-align: baseline;
	margin: auto 0;
	font-size: 14px;

	font-family: FontAwesome;
    font-style: normal;
    font-weight: bold;
    text-decoration: inherit;
}

#todo-list-yesterday li .copy:after:before,
#todo-list-yesterday li .archive:after:before
#backlog-itemlist li .copy:after:before {
    display: inline-block;
    text-decoration: inherit;
}

#todo-list-yesterday li .copy:after,
#backlog-itemlist li .copy:after {
content:"\f0c5"
}

#todo-list li:hover .destroy,
#todo-list li:hover .fa-arrows, 
#todo-list-yesterday li:hover .copy,
#todo-list-yesterday li:hover .archive,
#backlog-itemlist li:hover .destroy, 
#backlog-itemlist li:hover .copy {
display: block;
}

#todo-list li .edit, 
#todo-list-yesterday li .edit,
#backlog li .edit {
display: none;
}

#todo-list li.editing:last-child, #todo-list-yesterday li.editing:last-child {
margin-bottom: -1px;
}

#footer {
color: #777;
padding: 0 15px;
position: absolute;
right: 0;
bottom: -31px;
left: 0;
height: 20px;
z-index: 1;
text-align: center;
}

#footer:before {
content: '';
position: absolute;
right: 0;
bottom: 31px;
left: 0;
height: 50px;
z-index: -1;
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3),
0 6px 0 -3px rgba(255, 255, 255, 0.8),
0 7px 1px -3px rgba(0, 0, 0, 0.3),
0 43px 0 -6px rgba(255, 255, 255, 0.8),
0 44px 2px -6px rgba(0, 0, 0, 0.2);
}

#todo-count {
float: left;
text-align: left;
}

#filters {
margin: 0;
padding: 0;
list-style: none;
position: absolute;
right: 0;
left: 0;
}

#filters li {
display: inline;
}

#filters li a {
color: #83756f;
margin: 2px;
text-decoration: none;
}

#filters li a.selected {
font-weight: bold;
}

#clear-completed {
float: right;
position: relative;
line-height: 20px;
text-decoration: none;
background: rgba(0, 0, 0, 0.1);
font-size: 11px;
padding: 0 10px;
border-radius: 3px;
box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.2);
}

/*#clear-completed:hover {
background: rgba(0, 0, 0, 0.15);
box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.3);
}*/

#info {
margin: 65px auto 0;
color: #a6a6a6;
font-size: 12px;
text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
text-align: center;
}

#info a {
color: inherit;
}

/*
Hack to remove background from Mobile Safari.
Can't use it globally since it destroys checkboxes in Firefox and Opera
*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
	#toggle-all,
	#todo-list li .toggle,
	#todo-list-yesterday li .toggle-prev {
	background: none;
	}

	#todo-list li .toggle,
	#todo-list-yesterday li .toggle-prev {
	height: 40px;
	}

	#toggle-all {
	top: -56px;
	left: -15px;
	width: 65px;
	height: 41px;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-appearance: none;
	appearance: none;
	}
}

.hidden{
display:none;
}

hr {
margin: 20px 0;
border: 0;
border-top: 1px dashed #C5C5C5;
border-bottom: 1px dashed #F7F7F7;
}

.learn a {
font-weight: normal;
text-decoration: none;
color: #b83f45;
}

.learn a:hover {
text-decoration: underline;
color: #787e7e;
}

.learn h3,
.learn h4,
.learn h5 {
margin: 10px 0;
font-weight: 500;
line-height: 1.2;
color: #000;
}

.learn h3 {
font-size: 24px;
}

.learn h4 {
font-size: 18px;
}

.learn h5 {
margin-bottom: 0;
font-size: 14px;
}

.learn ul {
padding: 0;
margin: 0 0 30px 25px;
}

.learn li {
line-height: 20px;
}

.learn p {
font-size: 15px;
font-weight: 300;
line-height: 1.3;
margin-top: 0;
margin-bottom: 0;
}

.quote {
border: none;
margin: 20px 0 60px 0;
}

.quote p {
font-style: italic;
}

.quote p:before {
content: '“';
font-size: 50px;
opacity: .15;
position: absolute;
top: -20px;
left: 3px;
}

.quote p:after {
content: '”';
font-size: 50px;
opacity: .15;
position: absolute;
bottom: -42px;
right: 3px;
}

.quote footer {
position: absolute;
bottom: -40px;
right: 0;
}

.quote footer img {
border-radius: 3px;
}

.quote footer a {
margin-left: 5px;
vertical-align: middle;
}

.speech-bubble {
position: relative;
padding: 10px;
background: rgba(0, 0, 0, .04);
border-radius: 5px;
}

.speech-bubble:after {
content: '';
position: absolute;
top: 100%;
right: 30px;
border: 13px solid transparent;
border-top-color: rgba(0, 0, 0, .04);
}

/**body*/.learn-bar > .learn {
position: absolute;
width: 272px;
top: 8px;
left: -300px;
padding: 10px;
border-radius: 5px;
background-color: rgba(255, 255, 255, .6);
transition-property: left;
transition-duration: 500ms;
}

@media (min-width: 899px) {
	/**body*/.learn-bar {
	width: auto;
	margin: 0 0 0 300px;
	}
	/**body*/.learn-bar > .learn {
	left: 8px;
	}
	/**body*/.learn-bar #todoapp {
	width: 550px;
	margin: 130px auto 40px auto;
	}
}

#yesterday {
	position: absolute;
	left: 3.5%;
	top: 60px;
	width: 23%;
	display: block;
}

.team {
	right: 3.5%;
	position: absolute;
	top: 60px;
	width: 23%;
	display: block;

}

.todo-page .team ul, #yesterday ul {
	max-height: 380px;
	overflow-y:scroll;
	overflow-x:hidden;
}

#todo-list-yesterday li label, .team li label {
	font-size: 16px;
	cursor: default;
}



#addItemForm, #editItemForm {
	margin:0px;
}

#dailyInit h1 {
	margin-top: 10%;
	top: 0px;
	width: 100%;
	font-size: 70px;
	font-weight: bold;
	text-align: center;
	color: #b3b3b3;
	color: rgba(255, 255, 255, 0.3);
	text-shadow: -1px -1px rgba(0, 0, 0, 0.2);
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	-ms-text-rendering: optimizeLegibility;
	-o-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
	line-height: 70px;
}

#dailyInit .btn {
    font-size: 14.994px;
    font-weight: 500;
}

#dailyInit .btn {
    background: none repeat scroll 0 0 #BDC3C7;
    border: medium none;
    border-radius: 6px 6px 6px 6px;
    box-shadow: none;
    color: #FFFFFF;
    line-height: 22px;
    padding: 9px 12px 10px;
    text-decoration: none;
    text-shadow: none;
    transition: all 0.25s ease 0s;
}

#dailyInit .btn.btn-primary {
    background-color: #1ABC9C;
}

#dailyInit .btn.btn-primary:hover {
    background-color: #48C9B0;
}

#dailyInit .btn.btn-primary:active {
    background-color: #16A085;
}

#clear-completed {
	cursor: default;
}

#todo-list-yesterday li label, .todo-list-team li label {
	margin-right:15px;
	padding: 7px 10px;
}

@media all and (max-width: 1110px) {
	#yesterday {
		/*display: none;*/
		left: none;
		top: none;
		width: 470px;
		position: relative;
		margin-top: 50px;
		clear: both;
		margin-left:0px;
	}

	.todo-page .team {
		/*display: none;*/
		right: none;
		top: none;
		width: 470px;
		position: relative;
		margin-top: 70px;
		clear: both;
		margin-left:35px;
	}

	#main-content {
    	padding-bottom: 80px;
	}

	#backlog {
		margin-top: 50px;
	}
}

@media all and (max-width: 1110px) {

}

footer.navbar-fixed-bottom {
	background-color: #FAFAFA;
}

footer.navbar-fixed-bottom p {
	padding: 0px 20px;
	margin:0px;
}

footer.navbar-fixed-bottom .navbar-inner {
	padding-top: 5px;
	min-height: 25px;
}

body > .container-fluid {
	padding-bottom: 40px;
}

.icon-user {
	font-weight: normal;
}

.team-member {
    font-size: 18px !important;
    padding: 5px 10px 5px 48px;
    font-style: italic;
    border-bottom: 1px solid #BBB !important;

    color: #b3b3b3;
	color: rgba(255, 255, 255, 0.3);
	text-shadow: -1px -1px rgba(0, 0, 0, 0.2);
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	-ms-text-rendering: optimizeLegibility;
	-o-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
	font-weight: bold;
}

.daily-date {
	position: absolute;
	top:40px;
	left:10px;
	font-size: 18px !important;
	padding: 5px 10px 5px 10px;
    font-style: italic;
    color: #b3b3b3;
	color: rgba(255, 255, 255, 0.3);
	text-shadow: -1px -1px rgba(0, 0, 0, 0.2);
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	-ms-text-rendering: optimizeLegibility;
	-o-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
	font-weight: bold;
}

.team-page .team {
	margin-top: 60px;
}




#save-task-btn::-moz-focus-inner {
    border:0;
    padding:0;
}



#new-todo {
	z-index: 1029;
}

#container-teams {
	margin-top: 20px;
}

#bookmark {
	cursor: pointer;
}

label.is-previous {
	cursor: default;
}

li.ui-sortable-helper {
	border: 2px dashed #1ABC9C !important;
}

div.tooltip {
	min-width: 100px;
	position: absolute;
	display: inline-block;
}

.todo-week .item {
	display: inline-block;
	width: 300px;
	position: relative;
	margin-left: 25px;
	vertical-align: top;
}

.datepicker {
	z-index: 10000;
	margin-left: -200px;
}

.datepicker:before {
	left: 199px;
}

.datepicker:after {
	left: 200px;
}

#backlog {
	background-color: #f5f5f5;
  	margin: 10px auto;
  	padding: 0;
  	z-index: 1029;
  	width: 510px;
  	/*box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.15);*/
  	border: 1px solid #BBBBBB;

  	position: fixed;
  	left: 30px;
  	bottom: -1000px;
}

#backlog ul {
	color: #555;
  	font-size: 22px;
  	padding: 0 !important;
  	font-family: courier, monospace;
  	/*border: 1px solid #dedede;*/
  	margin: 0px;
}

#backlog ul li {
	list-style: none;
  	border-bottom: 1px dotted #ccc;
  	height: auto;
  	padding: 10px 10px 7px 20px;
  	position: relative;
}

#backlog ul li h1 {
	font-size: 20px;
	margin: 0px;
	line-height: 20px;
	width: 460px;
	display: inline-block;
	cursor: pointer;
}

#backlog ul li h1 i {
	font-size: 14px;
    margin-right: 6px;
    margin-top: 3px;
    vertical-align: top;
}

#backlog-itemlist {
	max-height: 166px;
	overflow-x: hidden;
    overflow-y: scroll;
    width: 510px;
}

#backlog label {
	display: inline-block;
	margin: 0px;
	margin-right: 15px;
    padding: 7px 10px;
    word-wrap: break-word;
}

.backlog-input-show {
	float: right;
	cursor: pointer;
}

.backlog-title {
	padding-left: 10px !important;
	background: none repeat scroll 0 0 #00A2E1;
	color: #F5F5F5;
}

.backlog-input {
	background: none repeat scroll 0 0 #F5F5F5;
    border: medium none;
    box-shadow: none;

    font-size: 16px;
}

.backlog-input-item {
	display:none;
}

#backlog-itemlist li .destroy {
	top: 16px;
	font-size: 17px !important;
}

#backlog-itemlist li .copy {
	top: -16px;
	font-size: 14px;
}

#addBacklogItemForm, #editBacklogItemForm {
	margin:0px;
}
.backlog-item {
	overflow: hidden;
}
.task-actions {
	position: absolute;
	font-size: 14px;
	margin-top: -22px;
	margin-left: 40px;
}

.task-actions i {
	margin-left: 7px;
	cursor: pointer;
}

.task-actions i.fa-play {
	padding:0 1px 0px 0px;
	color: #A88A8A;

	margin-left: 15px;
}

.task-actions i.fa-stop, .task-actions i.fa-comment{
	display: none;
	color: #A88A8A;

	margin-left: 15px;
}

.item-timer {
	position: absolute;
	font-size: 13px;
	cursor: pointer;

	margin: -21px 0px 0px 74px;

	i {
		color: #A88A8A;
	}
}

.time-select-container {
	display: none;
}

.time-select {
	font-size: 12px;
	margin: 1px 0px 0px 0px;
	padding: 0px;
	border: 0px solid #fff;
	height: 17px;
	line-height: 17px;
	width: 54px;
	vertical-align: top;
	z-index: 10000;
}

.fa-arrows {
	position: absolute;
	font-size: 12px;
	opacity: 0.8;
	padding: 4px 0px 0px 4px;
	cursor: move;
	display: none !important;
	color: #A88A8A;
	z-index: 10000;
}

.fa-times-circle {
	margin-left: 2px;
	color: #A88A8A;
}

.item-time {
	font-size: 11px;
    margin-right: 4px;
    margin-top: -18px;
    opacity: 0.8;
    position: absolute;
    right: 0;
}

#todo-list li label {
	padding: 10px 10px 20px !important;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  color: #ffffff;
  text-decoration: none;
  background-color: #006DCC;
  background-image: linear-gradient(to bottom, #0088CC, #0044CC);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#48C9B0', endColorstr='#1ABC9C', GradientType=0);
}

#backlog .backlog-item {
	padding: 5px 5px 5px 20px;
}

#backlog-itemlist {
	display: none;
}

#backlog {
	bottom: 20px;
	display: none;
}

.fa-calendar {
	color: #FFF;	
}

#dailyio-datepicker {
	margin-top: 2px;	
}

.archive:after {
	content: "\f03a";
}

#todo-list-yesterday li .copy {
    font-size: 12px;
    top: -15px;
}

#todo-list-yesterday li .archive {
    font-size: 12px !important;
    top: 15px;
    font-weight: lighter;
}

.modal legend {
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 10px;
}

/*Aprils Fool Day*/
/*.close-iframe {
	font-size: 19px;
	margin-left: 1px;
	margin-top: -20px;
	font-weight: bold;
	position: absolute;
	cursor: pointer;
	display: none;
	z-index: 10000;
}

body {
	font-family: "Comic Sans MS", cursive, sans-serif !important;
}

#youtube-player {
	z-index: 10000;
}*/